<h2 class="user-favorite-movies__title">Favorite Movies</h2>
<div class="user-favorite-movies-view">
  <mat-card *ngFor="let movie of favoriteMovies" class="movie-card">
    <mat-card-header class="movie-card-header">
      <mat-card-title>
        <h2>{{ movie.Title }}</h2>
        <h4>Directed by: {{ movie.Director.Name }}</h4>
      </mat-card-title>
    </mat-card-header>
    <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <button
        class="mat-icon-button"
        mat-button
        (click)="openSummary(movie.Title, movie.Description)"
        color="basic"
      >
        Summary
      </button>
      <button
        mat-button
        class="mat-icon-button"
        *ngIf="!isFavorite(movie._id)"
        (click)="addToFavorites(movie._id)"
        color="primary"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button
        mat-button
        class="mat-icon-button"
        *ngIf="isFavorite(movie._id)"
        (click)="removeFromFavorites(movie._id)"
        color="primary"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>